$links:(
    alto:100px,
    relleno: 0 50px,
    font-size: 30px,
    cursor: pointer,
    display: none,
    transition: 0.4s,
    order: 1,
    flex-direction: column,
    text-align: left,
    text-decoration: none,
)
