$fondo-rojo:#B42404;

$cl-white: white;

$cl-yellow: #D8D203;

$cl-black: black;

$h1-relleno:20px;

$h1-fsize:80px;

$font-family:"Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;

$flexible:flex;

$relativo: relative;

$padding: 5%;

$ds-none: none;

