header{
    height: map-get($links, alto);
    background:$fondo-rojo;
    padding: map-get($links, relleno);
    color: $cl-white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-family;
}
    
    
    