main {
    background: rgba(5, 7, 12, 0.4);
    padding: $padding;
    margin: 5%;
    width: 40%;
    position: $relativo;
    left: 20%;
  }
  
  .main__div{
    display: $flexible;
    flex-direction: column;
    text-align: left;
    padding:$padding;
  }