#menu {
    background-image: url(../img/imagen-menu.jpg);
  }
  
  dl {
    margin: 0px;
    padding: 30px;
    background: rgba(5, 7, 12, 0.4);
  }
  
  dt {
    padding: $padding;
    color: $cl-white;
    font-family: $font-family;
  }
  
 