#reserva {
    background-image: url(../img/imagen-reserva.jpg);
  }
  
  .lista {
    @include lista(rgba(5, 7, 12, 0.4),40px,100%)
  }
  
  .items {
    @include items( relative, auto, left, 30px, none, 0.4s)
  }
  
  .items:hover {
    color: $cl-yellow;
  }
  
  .boton {
    @include boton (solid, 20px, 40%, none, flex, center, relative, 25%, all 1.5s)
  }
  
  .boton:hover {
    transform: scale(1.2);
  }